.containerColicitacao{
    border: solid blue;
    width: 95vw;
}
.headerSolicitacao{
    border: solid green;
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
}

.layoutSolicitacao{
    display: flex;

}