
.layoutReembolso{
    display: flex;
    flex-direction: column;
    
}

Header{
    width: 9vw;
    height: 5vh;
    display: flex;
    border: solid black;
    justify-content: space-evenly;
    align-items: center;
}

.mainReembolso{
    border: solid red;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   
    
}

.containerCards{
    display: flex;
    justify-content: space-between;
   // border: solid blue;
    height: 20vh;
    width: 60%;
article{
    display: flex;
    width: 15vw;
    align-items: center;
    border: solid #f1f4f9;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    
}
}

.containerStatus{
    border: solid #f1f4f9;
    display: flex;
    height: 10vh;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;

    div{
        height: 5vh;
        width: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.imgSolicitacoes{
    background-color: #00bedd ;
    border-radius: 6px;
    padding: 6px;
    
}

